services:
  wordpress:
    image: wordpress:6.7.1-php8.2-apache
    container_name: wp-app
    restart: unless-stopped
    ports:
      - "${WORDPRESS_PORT:-8081}:80"
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST:-host.docker.internal:3306}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER:-root}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD:?WORDPRESS_DB_PASSWORD is required}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME:-wordpress}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX:-wp_}
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG:-0}
    volumes:
      - ./data/html:/var/www/html
      - ./mu-plugins:/var/www/html/wp-content/mu-plugins
      - ./php/conf.d/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini

  wpcli:
    image: wordpress:cli-2.11.0-php8.2
    container_name: wp-cli
    profiles: ["tools"]
    depends_on:
      wordpress:
        condition: service_started
    environment:
      WORDPRESS_URL: ${WORDPRESS_URL:-http://127.0.0.1:8081}
      WORDPRESS_TITLE: ${WORDPRESS_TITLE:-Local Blog Engine WP}
      WORDPRESS_ADMIN_USER: ${WORDPRESS_ADMIN_USER:-admin}
      WORDPRESS_ADMIN_PASSWORD: ${WORDPRESS_ADMIN_PASSWORD:?WORDPRESS_ADMIN_PASSWORD is required}
      WORDPRESS_ADMIN_EMAIL: ${WORDPRESS_ADMIN_EMAIL:-admin@example.com}
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST:-host.docker.internal:3306}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER:-root}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD:?WORDPRESS_DB_PASSWORD is required}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME:-wordpress}
    volumes:
      - ./data/html:/var/www/html
      - ./mu-plugins:/var/www/html/wp-content/mu-plugins
      - ./php/conf.d/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
      - ./scripts:/scripts
    entrypoint: ["bash", "/scripts/wp-init.sh"]
